{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>About</title>
  <style>
    body{
      background:   #2e3830;
      font-family:  Ubuntu;
      color: white;
    }

  </style>
{% endblock %}


{% block body %}
<div class="container">
  <br>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">TubeWiki</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/register">Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/login">logIn</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <center><h1>About</h1></center><hr>
      <h2>In this website you will find India's top most YouTuber<br> in different different fields and contains detail each of them with<br> their YouTube channel's link </h2>
      <br>
      <br>
      <center><h4>Made with <span class="glyphicon glyphicon-heart"></span></h4></center>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
{% endblock %}
