{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
  <title>LogIn</title>
  <style>
    body{

      font-family:  Ubuntu;

    }
  </style>

{% endblock %}


{% block body %}
<div class="container">
  <br>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TubeWiki</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/register">Register</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <center><h1>Welcome</h1>
        <h3><p>You can log in here!!</p></h3>
        <h2>Login</h2></center>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">LogIn</button>
        </form>

      </div>
      <div class="col-sm-4  ">
      </div>
  </div>
</div>
{% endblock %}
