{% extends 'base.html' %}
{% block head %}
  <title>LogOut</title>
{% endblock %}


{% block body %}
<div class="container">
  <br>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TubeWiki</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/register">Register</a></li>
      </ul>
    </div>
  </nav>
  <h1>Logged Out!!!</h1>
  You have logged Out!!
</div>
{% endblock %}
