{% extends 'base.html' %}

{% load static %}
{% block head %}
  <title>AllChannel</title>
  <link rel="stylesheet" href="{% static 'allchannel/motivational.css' %}">
{% endblock %}


{% block body %}



  <div class="container">
    <br>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">TubeWiki</a>
        </div>
        
      </div>
    </nav>

    <center><a href="/account/"<span class="glyphicon glyphicon-home"></span></a></center><br>
      <center><h1>Popular Channels </h1></center><br>
        {% for i in moti_data %}
        <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap" width="150" height="150">
          <div class="card-body">
            <h5 class="card-title">{{ i.name }}</h5>
            <p class="card-text">{{ i.snippet }}.....</p>
            <a href="{% url 'accounts:moti' slug=i.id %}" class="btn btn-primary">Know More</a>
            <hr>
          </div>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
<hr>
